@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    font-family: 'Roboto', 'Sans-serif';
}

.form-container {
    margin: auto;
    background-color: #c9dcd5;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.title-container {
    background-color: #7197b5;
    color: #fff;
    width: 280px;
    height: 75px;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', 'sans-serif';
    font-size: 20px;
}

fieldset {
    background-color: #fff;
    width: 350px;
    height: 470px;
    border: none;
}

.input-container {
    width: 310px;
    height: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    background-color: #b1b9c2;
    border: none;
    padding-left: 15px;
    font-size: 16px;
}

button {
    width: 200px;
    height: 50px;
    border:none;
    border-radius: 10px;
    color: #fff;
    background-color: #7198b4;
    margin-top:30px;
    margin-bottom: 15px;  
    font-size: 16px;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

a, a:hover {
    margin-left: 100px;
    font-style: italic;
    font-size:15px;
    color:#797a7b;
    text-decoration: none;
}